.root{
    -fx-font-size: 12px;
    -fx-background-color: linear-gradient(#F3F0F3,#F3F0F3);
}
#title{
     -fx-font-size: 18px;
     -fx-font-weight: bold;
     -fx-text-fill: #333333;
     -fx-text-align: "center";
}

.button{
    -fx-font-size: 16px;
    -fx-background-color: linear-gradient(#667894,#667894);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
}


